{% extends 'base.html.twig' %}

{% block title %}New Excel{% endblock %}

{% block body %}
    <h1>Create new Excel</h1>
    <div class="card">
    {{ include('excel/_form.html.twig') }}
     </div>
{% endblock %}
